/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    cursor: default;
    margin: 0;
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.info-group,main,footer {
   margin-left: 50px;
   margin-right: 50px;
}
a {
    text-decoration: none;
    color: black;
    cursor: grab;
}

/********Header*********/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0%;
    
}
.lien {
    display: flex;
    justify-content: space-around;
    align-items:start;
    width: 34%;
    height: 100%;
    
    
}
.nav-lien {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 79px;
    
    
}
.nav-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    position: relative;
    top: -20px;
    
}
.logo {
    padding: 30px;
    width: 61.1px;
    height: 19px;
}   
.nav-txt:hover {
    color: #0065FC;
    cursor: pointer;
}
.nav-lien:hover{
    border-top: 1px solid #0065FC;
    cursor: pointer; 
}
.nav-lien:hover .nav-txt {
    color: #0065FC;
}
/****** Headline ********/
.headline {
    margin-bottom: 35px;  
}
.headline h1 {
    font-size: 22px;
    padding-bottom: 8px;
}
.headline p {
    margin-bottom: 0;
    font-size: 18px;
}
/****** Barre de recherche *****/
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.button , .search-form , #site-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
}
.mobilenone {
    padding: 15px 16px;
}
.button {
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    height: 49px;
    cursor: pointer;
}

.search-form {
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#site-search {
    
    height: 49px;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 197px;
    cursor: text;
}
.desktopnone {
    display: none;
}
.fa-magnifying-glass {
    color: white;
}

/******Filtre*******/
.Filterbar {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: bold;
}
.icone-bar {
    padding-right: 10px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    margin-left: 15px;
    height: 42px;
}
.box:hover {
    background-color: #DEEBFF;
   
    
}
/******* info bar *******/

.info-bar {
    display: flex;
    margin-bottom: 35px;
    margin-top: 0;
    gap:10px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.info-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-title {
    font-size: 16px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergement-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.hebergement-card img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.hebergements .card {
    height: 100%;
}

.hebergement-card .card-title {
    margin: 4px 0 0 0;
}
.hebergement-card .card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}
.lien-hebergement {
    height: auto;
    width: 100%;
}

.section-subtitle {
    font-size: 18px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****Activite*****/
.activite {
    padding: 30px;
}
.activite .section-title {
    padding-bottom: 30px;
}
 
.activite-card .card {
    padding: 0;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activite-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    
}
.activite-card img {
    width: 100%;
    height: 390px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite-card .card-title {
    padding: 20px 19px 20px 19px;
    margin: 0;
}
.lien-activite .card{
    width: 100%;
    height: 100%;
}
/******* Footer *******/

.table {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    
}
.table-contend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
   
.table-title{
    font-size: 18px;
    
}

.table-cell {
    font-size: 16px;
    font-weight: 500;
}

.table-title, .table-cell {
    padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/******* large desktop ******/
@media screen and (min-width:1440px) {
    .main-container{
        max-width: 1440px;
    }
    .info-group,main,footer {
        margin-left: 0px;
        margin-right: 0px;
     }
    
     .nav img {
        padding-left: 0;
     }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    /****** Nav ******/
    .nav img {
        padding-left: 50px;
    }


    /******* filter ******/
    .Filterbar {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content max-content;
        grid-template-rows: max-content max-content;
        gap: 20px;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        
       }
       .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 0;
       }
       .one {
        grid-column: 1/6;
       }
       .two {
        grid-column: 1/2;
        
       }
       .three {
        grid-column: 2/3;
       }
       .four {
        grid-column: 3/4;
       }
       .five {
        grid-column: 4/5;
       }
    /******* hebergement and populaires *****/
    .hebergements-and-populaires {
        width: 100%;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        height: auto;
    }
    .hebergement-card {
        width: 100%;
        height: auto;
    }
    .hebergements .card {
        width: 100%;
        
    }
    .hebergements .card-content {
        padding: 0 15px 15px 15px;
    }
    .hebergements .card-title {
        margin: 4px 0 0 0;
        
    }
    .hebergements .card-subtitle {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    .populaires-cards .card-content {
        width: 100%;
        height: auto;
    }
    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
 /********* Activite ********/
    .activite {
        display: flex;
        
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .activite-card {
        width: 100%;
        height: 100%;
        
        padding-right: 30px;
    }

    .activite-card .card {
        width: 100%;
        height: auto;
    }
    
    .lien-activite img {
        width: 100%;
        height: 200px;
    }
    .lien-activite .card {
        width: auto;
        height: 100%;
    }
    .lien-activite .card-content {
        width: 100%;
        height: 70px;
    }
    
}
    
/* Small devices (phones, less than 768px) */

@media screen and (max-width: 767.98px) {
    .main-container {
        padding: 0;
        min-width: 320px;
    }
    body {
        margin: 0;
    }
    
    /****** Nav *****/
    .info-group {
        margin-left: 20px;
        margin-right: 20px;
    }
    nav {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lien {
        width: 100%;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .nav-lien {
        width: 50%;
        border-bottom: 2px solid #D9D9D9;
    }
    .nav-txt {
        width: 100%;
        position: relative;
        top: 0;
    }
    .nav-lien:hover {
        color: #0065FC;
        cursor: pointer;
        border-bottom: 2px solid #0065FC;
        
    }
    .nav-lien:hover {
        border-top: none;
    }

    /*******Headline*******/

    .headline {
        width: 100%;
        display: flex;
        text-align: left;
       
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    .headline h1 {
        margin-bottom: 0;
    }
    .headline p {
        margin-top : 8px;

    }
    

    /******* Search-bar ******/
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       
        
    }

    .fa-magnifying-glass {
        padding: 15px 16px;
    }
    
    .button {
        position: relative;
        right: 12px;
        width: auto;
        border-radius: 15px;
        height: 49px;
        font-size: 100%;
        padding: 0;
        
    }
    #site-search {
        border: 2px solid #D9D9D9;
    }
    .desktopnone {
        display: block;
    }

    .mobilenone {
        display: none;
    }
    .search-form {
        width: 50px;
    }

    /******* Filter ******/

  
    .Filterbar {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: max-content max-content max-content;
        gap: 20px;
        align-items: center;
        
    }
    .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4px 19px 4px 19px;
    
   }
   .one {
    grid-column: 1/3;
    width: auto;
    
   }
   .two {
    grid-column: 1/2;
    width: auto;
    
   }
   .three {
    grid-column: 2/3;
    width: auto;
   }
   .four {
    grid-column: 1/2;
    width: auto;
   }
   .five {
    grid-column: 2/3;
    width: auto;
    white-space: nowrap;
   }

   /****** infobar *****/
   
   .info-bar {
    width: 100%;
   }


    /****** Hebergement and populaire ******/

    .hebergements-and-populaires .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements {
        order: 2;
        
    }

    .populaires {
        order: 1;
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;
    }
    .populaires-cards .card-title {
        font-size: 16px;
    }
    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        
    }
    .populaires-cards .card{
        width: 100%;
    }
    .hebergement-card {
        display: flex;
        flex-direction: column;
    }
    .hebergement-card .card-content .card-title,.card-subtitle{
        margin: 0;
    }
    .hebergement-card .card-content{
        padding-top: 4px;
        margin-bottom: 15px;
    }
    .hebergement-card .card-subtitle {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /******* Activité ******/

    .activite-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .activite-card img {
        width: 100%;
        height: 141px
    }
    .lien-activite .card {
        width: 100%;
        height: 100%;
    }
    /******* footer *****/
    footer {
        margin-left: 0;
        margin-right: 0;
    }
    .table {
        width: 100%;
    }
    .table-contend {
        display: flex;
        flex-direction: column;
        padding: 30px;
        
    }
    .table-title {
        margin: 0;
    }
    .table-hebergement{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}